<html layout:decorate="~{usr/layout/layout.html}">

<head>
    <title>게시글 작성</title>

    <script>
        function PostForm__submit(form) {
            form.title.value = form.title.value.trim(); // 제목 좌우 공백 제거
            if (form.title.value.length === 0) {
                toastWarning('게시글의 제목을 입력해주세요.');
                form.title.focus();
                return;
            }

            if (form.title.value.length > 200) {
                toastWarning('게시글의 제목을 200자 이하로 입력해주세요.');
                form.title.focus();
                return;
            }

            if (form.content.value.length === 0) {
                toastWarning('게시글의 내용을 입력해주세요.');
                form.content.focus();
                return;
            }

            form.submit();
        }

        function changeFn() {
            const category = document.getElementById("category");
            $('#ct').val(category.options[category.selectedIndex].value);
        }

        window.onload = function () {
            $('#ct').val("c2");
        }

        function copyEditorContentToTextarea() {
            const editorContent = editor1.getHTML(); // 에디터의 내용을 가져옵니다.
            document.getElementById("content").value = editorContent; // 숨겨진 <textarea>에 복사합니다.
        }
    </script>

    <!-- 토스트 UI 에디터 불러오기 시작 -->
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"/>
    <!-- 토스트 UI 에디터 불러오기 끝 -->

</head>

<body>

<main layout:fragment="main">
    <div class="flex flex-col align-center mx-auto max-w-7xl w-full my-3">
        <span class="text-3xl text-center font-bold mt-8">게시글 등록</span>
        <form th:action th:object="${freedomPostForm}" method="post"
              onsubmit="copyEditorContentToTextarea(); PostForm__submit(this); return false;">
            <div class="flex flex-col mt-2">
                <span class="badge badge-lg rounded-pill badge-neutral my-2">카테고리</span>
                <select class="select select-bordered select-sm w-full max-w-xs" id="category" onchange="changeFn()">
                    <option value="c2" selected>음악</option>
                    <option value="c3">리뷰</option>
                    <option value="c4">가사 해석</option>
                    <option value="c5">인증/후기</option>
                </select>
                <input type="hidden" id="ct" th:field="*{category}">
            </div>
            <div class="mt-2">
                <input type="text" name="title" placeholder="제목을 입력하세요" class="bg-black bg-opacity-10 h-10 p-4 w-full"
                       th:field="*{title}">
            </div>
            <div class="mt-2">
                <!-- 에디터 시작 -->
                <div id="editor-1"></div>
                <!-- 에디터 끝 -->
                <input id="content" type="hidden" th:field="*{content}">
            </div>
            <div class="flex justify-end mt-3">
                <button type="submit" class="h-10 p-4 w-32 bg-gray-300 text-sm flex items-center justify-center">
                    <span class="text-center">등록</span>
                </button>
            </div>
        </form>
    </div>

    <script>
        // 에디터 클래스를 사용하기 쉽도록 변경(여기서 `쉽다`는 뜻은 `짧게 쓸 수 있다`라는 뜻)
        const Editor = toastui.Editor;

        const editor1 = new Editor({
            el: document.querySelector("#editor-1"),
            initialValue: "",
            height: "50vh",
            previewStyle: "vertical"
        });

        document.addEventListener('DOMContentLoaded', function () {
            const content = document.getElementById('content');  // 게시글 수정 시 기존 데이터 토스트 에디터 편집창에 출력
            if (content.value) {
                editor1.setHTML(content.value);
            }
        });
    </script>
</main>
</body>

</html>

