<html layout:decorate="~{usr/layout/layout.html}">

<head>
    <title>자유 게시판</title>
</head>

<body>

<main layout:fragment="main">
    <div class="flex flex-col align-center mx-auto w-4/6">
        <span class="text-2xl font-bold">자유 게시판</span>
        <a th:href="@{/community/freedomPost/create}" class="btn btn-primary">글쓰기</a>

        <table class="table">
            <thead class="table-dark">
            <tr class="text-center">
                <th>번호</th>
                <th>카테고리</th>
                <th style="width:50%">제목</th>
                <th>글쓴이</th>
                <th>날짜</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="freedomPost : ${freedomPostList}">
                <td th:text="${freedomPost.id}"></td>
                <td th:text="${freedomPost.category}"></td>
                <td>
                    <a th:href="@{|/community/freedomPost/detail/${freedomPost.id}|}"
                       th:text="${freedomPost.title}"></a>
                </td>
                <td th:text="${freedomPost.author.username}"></td>
                <td th:text="${freedomPost.createDate}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
</body>

</html>
