<div class="flex-grow flex items-center justify-center">
    <div class="max-w-2xl w-full p-1">
        <div class="text-center mt-2 mx-2" th:if="${#lists.isEmpty(notifications)}">
            <i class="fa-regular fa-bell-slash"></i> 최근에 받은 알림이 없습니다.
        </div>

        <ul class="flex flex-col gap-1" th:if="${!#lists.isEmpty(notifications)}">
            <div class="flex justify-end">
                <a id="readAllDelete" style="cursor: pointer" th:data-id="1" class="text-sm mr-5 hover:underline"
                   onclick="if ( confirm('정말로 읽은 알림들을 전부 삭제하시겠습니까?') ) AllDelete(this);">
                    읽은 알림 삭제
                </a>
                <a id="allDelete" style="cursor: pointer" th:data-id="2" class="text-sm mr-1 hover:underline"
                   onclick="if ( confirm('정말로 알림들을 전부 삭제하시겠습니까?') ) AllDelete(this);">
                    알림 모두 삭제
                </a>
            </div>

            <li th:each="notification, iterationStat: ${notifications}">
                <div class="card bg-base-100 shadow-2xl">
                    <div class="card-body">
                        <div class="flex flex-col gap-2">
                            <div class="flex items-center">
                                <i class="fa-solid fa-bell mr-2"></i>
                                <span>알림&nbsp;</span><span class="mr-4 text-blue-500"
                                                           th:text="|#${#lists.size(notifications) - iterationStat.count + 1}|"></span>
                                <span class="badge badge-primary"
                                      th:text="|${#temporals.format(notification.createDate, 'yy.MM.dd HH:mm')}, ${notification.afterAddNotification} 전|"></span>
                                <i th:if="${notification.afterAddNotification.endsWith('초') or notification.afterAddNotification.endsWith('분')}"
                                   class="fa-solid fa-fire text-red-500 ml-2"></i>
                                <div class="flex flex-grow justify-end">
                                    <!-- 클릭 시 알림 읽음 처리(눈 아이콘) -->
                                    <a style="cursor: pointer" class="flex items-center mr-3"
                                       th:if="${notification.readDate == null}" th:data-id="${notification.id}"
                                       onclick="EyeIconClick(this)">
                                        <i class="fa-solid fa-eye"></i>
                                    </a>
                                    <a style="cursor: pointer" class="flex items-center mr-3"
                                       th:if="${notification.readDate != null}" th:data-id="${notification.id}"
                                       onclick="EyeIconClick(this)">
                                        <i class="fa-regular fa-eye-slash"></i>
                                    </a>
                                </div>
                                <div>
                                    <a style="cursor: pointer" class="flex items-center" th:data-id="${notification.id}"
                                       onclick="if ( confirm('정말로 삭제하시겠습니까?') ) TrashCanIconClick(this);">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="mt-1 flex flex-col gap-2">
                            <div class="flex items-center">
                                <i class="fa-regular fa-message mr-2"></i>
                                <div th:if="${notification.typeCode.equals('postLike')}">
                                    <span class="badge badge-primary"
                                          th:text="${notification.fromMember.nickName}"></span> 님이 당신이 작성한
                                    게시글에 좋아요를 눌렀어요!
                                </div>
                                <div th:if="${notification.typeCode.equals('soundLike')}">
                                    <span class="badge badge-primary"
                                          th:text="${notification.fromMember.nickName}"></span> 님이 당신의 음원에 좋아요를 눌렀어요!
                                </div>
                                <div th:if="${notification.typeCode.equals('soundComment')}">
                                    <span class="badge badge-primary"
                                          th:text="${notification.fromMember.nickName}"></span> 님이 당신의 음원 게시글에 댓글을 남겼어요!
                                </div>
                                <div th:if="${notification.typeCode.equals('comment')}">
                                    <span class="badge badge-primary"
                                          th:text="${notification.fromMember.nickName}"></span> 님이 당신이 작성한
                                    게시글에 댓글을 달았어요!
                                </div>
                                <div th:if="${notification.typeCode.equals('follow')}">
                                    <span class="badge badge-primary"
                                          th:text="${notification.fromMember.nickName}"></span> 님이 당신을 팔로우 했습니다.
                                </div>
                                <div th:if="${notification.typeCode.equals('unFollow')}">
                                    <span class="badge badge-primary"
                                          th:text="${notification.fromMember.nickName}"></span> 님이 당신을 언팔로우 했습니다.
                                </div>
                                <div th:if="${notification.typeCode.equals('upload')}">
                                    <span class="badge badge-primary"
                                          th:text="${notification.fromMember.nickName}"></span> 님이 새로운 음원을 업로드 했습니다.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

