<html layout:decorate="~{usr/member/myPage.html}">
<div layout:fragment="content">
    <div class="flex flex-wrap gap-4">
        <h2 class="card-title">
            <i class="fa-solid fa-user"></i>
            내 정보
        </h2>
        <div class="dropdown dropdown-right">
            <label tabindex="0" class="btn btn-error btn-xs gap-1"><i class="fa-solid fa-lock"></i>Edit</label>
            <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
                <li><a href="/usr/member/myPage/modifyNickName"><i class="fa-solid fa-user-pen"></i>닉네임 변경</a></li>
                <li><a href="/usr/member/myPage/modifyEmail"><i class="fa-solid fa-envelope"></i>이메일 변경</a></li>
                <li><a href="/usr/member/myPage/modifyPassword"><i class="fa-solid fa-unlock-keyhole"></i>비밀번호 변경</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="mt-4">
        프로필 이미지
        <div class="mt-2">
            <img src="/images/likelion.jpg" style="width: 300px; height: 200px;">
        </div>
    </div>

    <div class="mt-4">
        닉네임
        <div class="mt-2">
            <span class="badge badge-secondary" th:text="${@rq.member.nickName}"></span>
        </div>
    </div>

    <div class="mt-4">
        이메일
        <div class="mt-2">
            <span class="badge badge-secondary" th:text="${@rq.member.email}"></span>
        </div>
    </div>

    <div class="mt-4">
        가입날짜
        <div class="mt-2">
            <span class="badge badge-secondary"
                  th:text="${#temporals.format(@rq.member.createDate, 'yy.MM.dd')}"></span>
        </div>
    </div>

    <div class="mt-4 flex flex-wrap gap-3 text-center">
        <button onclick="followers_modal.showModal()">Follower
            <div class="mt-2">
                <span id="followerCount" class="badge badge-secondary"
                      th:text="${@rq.member.getFollowingPeople().size()}"></span>
            </div>
        </button>

        <button onclick="follow_modal.showModal()">Follow
            <div class="mt-2">
                <span id="followingCount" class="badge badge-secondary"
                      th:text="${@rq.member.getFollowerPeople().size()}"></span>
            </div>
        </button>

        <div>Tracks
            <div class="mt-2">
                <span class="badge badge-secondary">0</span> <!--TODO : 음원 업로드 수 -->
            </div>
        </div>
    </div>

    <!-- Followers Modal -->
    <dialog id="followers_modal" class="modal modal-bottom sm:modal-middle">
        <form method="dialog" class="modal-box !max-w-none !w-[400px]">
            <div class="flex justify-between items-center">
                <h3 class="font-bold text-lg text-center flex-grow">Follower</h3>
                <button class="btn btn-xs">X</button>
            </div>
            <div class="flex flex-col items-center mt-4" style="max-height: 400px; overflow-y: auto;">
                <!-- 팔로워 리스트 시작 -->
                <div class="w-full max-w-xs" th:each="follower : ${@rq.member.getFollowingPeople()}">
                    <div class="flex items-center space-x-4 mb-4">
                        <img src="/images/likelion.jpg" alt="프로필 사진" class="w-8 h-8 rounded-full">
                        <span class="text-base font-medium !mr-auto"
                              th:text="${follower.getFollower().username}"></span>
                        <button type="button" class="btn btn-sm btn-primary" onclick="delete_follow(this)">삭제
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </dialog>

    <!-- Follow Modal -->
    <dialog id="follow_modal" class="modal modal-bottom sm:modal-middle">
        <form method="dialog" class="modal-box !max-w-none !w-[400px]">
            <div class="flex justify-between items-center">
                <h3 class="font-bold text-lg text-center flex-grow">Following</h3>
                <button class="btn btn-xs">X</button>
            </div>
            <div class="flex flex-col items-center mt-4" style="max-height: 400px; overflow-y: auto;">
                <!-- 팔로잉 리스트 시작 -->
                <div class="w-full max-w-xs" th:each="following : ${@rq.member.getFollowerPeople()}">
                    <div class="flex items-center space-x-4 mb-4">
                        <img src="/images/likelion.jpg" alt="프로필 사진" class="w-8 h-8 rounded-full">
                        <span class="text-base font-medium !mr-auto"
                              th:text="${following.getFollowing().username}"></span>
                        <button type="button" class="btn btn-sm btn-primary" onclick="delete_following(this)">팔로잉
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </dialog>
    <script>

        // Delete Follow
        function delete_follow(button) {
            var username = button.previousElementSibling.textContent;
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            // 확인 메시지 표시
            if (confirm("정말로 삭제하시겠습니까?")) {
                // Ajax 요청 설정
                $.ajax({
                    type: "POST",
                    url: "/api/deleteFollower",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader(header, token);
                    },
                    data: {username: username},
                    success: function (result) {
                        updateFollowerCount();

                        // 삭제가 성공한 경우 버튼 비활성화 및 텍스트 변경
                        button.disabled = true;
                        button.textContent = "삭제됨";
                    },
                    error: function (error) {
                        console.log("팔로우 취소 실패:", error);
                    }
                });
            } else {
                console.log("삭제가 취소되었습니다.");
            }
        }

        <!-- Update Follow Count -->
        function updateFollowerCount() {
            $.ajax({
                type: "GET",
                url: "/api/updateFollowerCount",
                success: function (result) {
                    $("#followerCount").text(result);
                },
                error: function (error) {
                    console.log("팔로우 숫자 업데이트 실패:", error);
                }
            });
        }

        // Delete Following
        function delete_following(button) {
            var username = button.previousElementSibling.textContent;
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            // 확인 메시지 표시
            if (confirm("정말로 삭제하시겠습니까?")) {
                // Ajax 요청 설정
                $.ajax({
                    type: "POST",
                    url: "/api/deleteFollowing",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader(header, token);
                    },
                    data: {username: username},
                    success: function (result) {
                        updateFollowingCount();

                        // 삭제가 성공한 경우 버튼 비활성화 및 텍스트 변경
                        button.disabled = true;
                        button.textContent = "언팔로잉";
                    },
                    error: function (error) {
                    }
                });
            } else {
            }
        }

        <!-- Update Following Count -->
        function updateFollowingCount() {
            $.ajax({
                type: "GET",
                url: "/api/updateFollowingCount",
                success: function (result) {
                    $("#followingCount").text(result);
                },
                error: function (error) {
                    console.log("팔로잉 숫자 업데이트 실패:", error);
                }
            });
        }
    </script>
</div>

</html>