<html layout:decorate="~{usr/member/myPage.html}">
<div layout:fragment="content">
    <div class="flex flex-wrap gap-4">
        <h2 class="card-title">
            <i class="fa-solid fa-user"></i>
            내 정보
        </h2>
        <div class="dropdown dropdown-right">
            <label tabindex="0" class="btn btn-error btn-xs gap-1"><i class="fa-solid fa-lock"></i>Edit</label>
            <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
                <li><a href="/usr/member/myPage/editMyInfo"><i class="fa-solid fa-user-lock"></i>회원정보 변경</a></li>
                <li><a href="/usr/member/myPage/modifyPassword"><i class="fa-solid fa-unlock-keyhole"></i>비밀번호 변경</a></li>
            </ul>
        </div>
    </div>
    <div class="mt-4">
        프로필 이미지
        <div class="mt-2">
            <img src="/images/likelion.jpg" style="width: 300px; height: 200px;">
        </div>
    </div>

    <div class="mt-4">
        닉네임
        <div class="mt-2">
            <span class="badge badge-primary" th:text="${@rq.member.nickName}"></span>
        </div>
    </div>

    <div class="mt-4">
        이메일
        <div class="mt-2">
            <span class="badge badge-primary" th:text="${@rq.member.email}"></span>
        </div>
    </div>

    <div class="mt-4">
        가입날짜
        <div class="mt-2">
            <span class="badge badge-primary" th:text="${#temporals.format(@rq.member.createDate, 'yy.MM.dd')}"></span>
        </div>
    </div>
</div>
</html>