@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


html > body {
    font-family: "Pretendard-Regular";
    text-underline-position: under;
    word-break: keep-all;
}

body {
    padding-top: var(--top-bar__height);
}

html > body .label-text {
    font-size: 1rem;
}

.navbar {
    z-index: 2;
}

div {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

:root {
    --site-width: 1280px;
    --top-bar__height: 64px;
}

/* 탑바 */
.top-bar {
    --color: white;
    --inverse-color: black;
    height: var(--top-bar__height);
    color: var(--color);
    position: fixed;
    z-index: 999;
    top: 0px;
    left: 0px;
    width: 100%
}

.top-bar.hover {
    --color: black;
    --inverse-color: white;
    background-color: var(--inverse-color);
}

/* 메뉴 1 */
.menu-1__li-icon > a > span {
    font-size: 20px;
}

.menu-1 > li:not(.menu-1__li-icon) > a > span {
    font-size: 14px;
}

.menu-1__li-join > a > span {
    background-color: var(--color, white);
    color: var(--inverse-color, black);
    padding: 12px 12px 7px 12px;
    margin-bottom: 5px;
    border-radius: 20px;
}

.menu-1 > li:hover > a > span {
    text-decoration: underline;
}

.dropdown-content {
    position: absolute;
    top: 100%;
    left: -10px;
    display: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* 커뮤니티 게시판 */
#all:checked + label {
    background-color: rgba(0, 0, 0, 0.3);
}

#music:checked + label {
    background-color: rgba(0, 0, 0, 0.3);
}

#review:checked + label {
    background-color: rgba(0, 0, 0, 0.3);
}

#lyrics:checked + label {
    background-color: rgba(0, 0, 0, 0.3);
}

#certify:checked + label {
    background-color: rgba(0, 0, 0, 0.3);
}

.search-Button:hover {
    cursor: pointer;
}