<html layout:decorate="~{usr/layout/layout.html}">

<head>
    <title>비밀번호 찾기</title>
</head>

<body>

<main layout:fragment="main">

    <div class="flex justify-center items-center h-screen">
        <div>
            <h2 class="card-title mb-3">
                <i class="fa-solid fa-lock"></i>
                비밀번호 찾기
            </h2>
            <h3 class="mb-4"><i class="fa-regular fa-face-smile"></i> 회원정보를 입력해주세요.</h3>

            <div class="card bg-base-100 shadow-xl mt-2" style="width: 500px">
                <div class="card-body">
                    <form th:action method="POST" class="flex flex-col"
                          onsubmit="FindPasswordForm__submit(this); return false;">
                        <div class="flex justify-center mb-3">
                            <div class="flex flex-col mt-5 items-start">
                                <div class="mb-2 text-lg"><i class="fa-solid fa-user"></i> 아이디</div>
                                <div class="flex items-center space-x-4">
                                    <input type="text" name="username" placeholder="아이디" autocomplete="off"
                                           class="bg-black bg-opacity-10 h-10 p-4 w-80"/>
                                </div>
                            </div>
                        </div>

                        <div class="flex justify-center mb-3">
                            <div class="flex flex-col mt-5 items-start">
                                <div class="mb-2 text-lg"><i class="fa-solid fa-envelope"></i> 이메일</div>
                                <div class="flex items-center space-x-4">
                                    <input type="text" name="email" placeholder="이메일" autocomplete="off"
                                           class="bg-black bg-opacity-10 h-10 p-4 w-80"/>
                                </div>
                            </div>
                        </div>

                        <div class="mt-5 card-actions justify-end">
                            <a href="/usr/member/login"
                               class="bg-black bg-opacity-10 h-10 p-4 w-20 ml-4 text-sm flex items-center justify-center hover:bg-opacity-30">취소</a>
                            <button class="bg-black bg-opacity-10 h-10 p-4 w-20 text-sm flex items-center justify-center hover:bg-opacity-30"
                                    type="submit" onclick="emailCertification()">
                                <span class="text-center">비밀번호 찾기</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        function FindPasswordForm__submit(form) {
            // username 이(가) 올바른지 체크
            form.username.value = form.username.value.trim();

            if (form.username.value.length === 0) {
                toastWarning('아이디를 입력해주세요.');
                form.username.focus();
                return;
            }

            if (form.username.value.length < 3) {
                toastWarning('아이디를 3자 이상 입력해주세요.');
                form.username.focus();
                return;
            }
            if (form.username.value.length > 30) {
                toastWarning('아이디를 30자 이하 입력해주세요.');
                form.username.focus();
                return;
            }

            // email 이(가) 올바른지 체크
            if (form.email.value.length === 0) {
                form.email.focus();
                toastWarning('이메일을 입력해주세요.');
                return;
            }

            if (isValidEmail(form.email.value) === false) {
                toastWarning('이메일 형식으로 입력해주세요.');
                form.email.focus();
                return;
            }

            if (form.email.value.length > 30) {
                toastWarning('이메일 총길이가 30자 이하로 입력해주세요.');
                form.email.focus();
                return;
            }

            form.submit(); // 폼 발송
        }

        function isValidEmail(email) {
            // 이메일 형식 검증을 위한 정규식
            const regex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
            return regex.test(email);
        }
    </script>
</main>
</body>
</html>
