<html layout:decorate="~{usr/layout/layout.html}">

<head>
    <title>아이디 찾기</title>
</head>

<body>

<main layout:fragment="main">
    <div class="flex-grow flex items-center justify-center">
        <div class="max-w-2xl w-full px-4">
            <h1 class="mb-4">
                <i class="fa-solid fa-arrow-right-to-bracket"></i>
                비밀번호 찾기
            </h1>
            <h2 class="mb-5">회원정보를 입력해주세요.</h2>
            <form th:action method="POST" class="flex flex-col gap-6"
                  onsubmit="FindPasswordForm__submit(this); return false;">
                <div class="form-control">
                    <input type="text" name="username" maxlength="30" placeholder="아이디" class="input input-bordered">
                </div>

                <div class="form-control">
                    <input type="text" name="email" maxlength="30" placeholder="이메일" class="input input-bordered">
                </div>

                <div>
                    <input type="submit" value="비밀번호 찾기" class="btn btn-block btn-primary gap-1">
                </div>
            </form>
        </div>
    </div>
    <script>
        function FindPasswordForm__submit(form) {
            // username 이(가) 올바른지 체크
            form.username.value = form.username.value.trim();

            if (form.username.value.length === 0) {
                toastWarning('아이디를 입력해주세요.');
                form.username.focus();
                return;
            }

            if (form.username.value.length < 3) {
                toastWarning('아이디를 3자 이상 입력해주세요.');
                form.username.focus();
                return;
            }
            if (form.username.value.length > 30) {
                toastWarning('아이디를 30자 이하 입력해주세요.');
                form.username.focus();
                return;
            }

            // email 이(가) 올바른지 체크
            if (form.email.value.length === 0) {
                form.email.focus();
                toastWarning('이메일을 입력해주세요.');
                return;
            }

            if (isValidEmail(form.email.value) === false) {
                toastWarning('이메일 형식으로 입력해주세요.');
                form.email.focus();
                return;
            }

            if (form.email.value.length > 30) {
                toastWarning('이메일 총길이가 30자 이하로 입력해주세요.');
                form.email.focus();
                return;
            }

            form.submit(); // 폼 발송
        }

        function isValidEmail(email) {
            // 이메일 형식 검증을 위한 정규식
            const regex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
            return regex.test(email);
        }
    </script>
</main>
</body>
</html>
