<html layout:decorate="~{usr/layout/layout.html}">

<head>
    <style>
        /* 노말라이즈 */
        body,
        ul,
        li {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        a {
            color: inherit;
            text-decoration: none;
        }

        /* 라이브러리 */
        .top-logo-bar {
            width: 1200px;
            margin-left: auto;
            margin-right: auto;
        }

        /* 커스텀 */
        html {
            background-color: white;
        }

        input:focus {
            outline: none;
        }
    </style>
    <title>회원가입</title>

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<body>
<main layout:fragment="main">
    <script>
        function JoinForm__submit(form) {
            // username 이(가) 올바른지 체크
            form.username.value = form.username.value.trim(); // 입력란의 입력값에 있을지 모르는 좌우공백제거

            if (form.username.value.length === 0) {
                toastWarning('아이디를 입력해주세요.');
                form.username.focus();
                return;
            }

            if (form.username.value.length < 3) {
                toastWarning('아이디를 3자 이상 입력해주세요.');
                form.username.focus();
                return;
            }
            if (form.username.value.length > 30) {
                toastWarning('아이디를 30자 이하 입력해주세요.');
                form.username.focus();
                return;
            }

            // password 이(가) 올바른지 체크
            form.password.value = form.password.value.trim();

            if (form.password.value.length === 0) {
                form.password.focus();
                toastWarning('비밀번호를 입력해주세요.');
                return;
            }

            if (form.password.value.length < 4) {
                toastWarning('비밀번호를 4자 이상 입력해주세요.');
                form.password.focus();
                return;
            }

            if (form.password.value.length > 30) {
                toastWarning('비밀번호를 30자 이하<br>입력해주세요.');
                form.password.focus();
                return;
            }

            // confirmPassword 이(가) 올바른지 체크
            form.confirmPassword.value = form.confirmPassword.value.trim();

            if (form.confirmPassword.value.length === 0) {
                form.confirmPassword.focus();
                toastWarning('비밀번호 확인을 입력해주세요.');
                return;
            }

            if (form.confirmPassword.value.length < 4) {
                toastWarning('비밀번호 확인을 4자 이상 입력해주세요.');
                form.confirmPassword.focus();
                return;
            }

            if (form.confirmPassword.value.length > 30) {
                toastWarning('비밀번호 확인을 30자 이하<br>입력해주세요.');
                form.confirmPassword.focus();
                return;
            }

            // name 이(가) 올바른지 체크
            form.name.value = form.name.value.trim();

            if (form.name.value.length === 0) {
                form.name.focus();
                toastWarning('이름을 입력해주세요.');
                return;
            }

            if (form.name.value.length < 2) {
                toastWarning('이름을 2자 이상 입력해주세요.');
                form.name.focus();
                return;
            }

            if (form.name.value.length > 10) {
                toastWarning('이름을 10자 이하 입력해주세요.');
                form.name.focus();
                return;
            }

            // nickName 이(가) 올바른지 체크
            form.nickName.value = form.nickName.value.trim();

            if (form.nickName.value.length === 0) {
                form.nickName.focus();
                toastWarning('닉네임을 입력해주세요.');
                return;
            }

            if (form.nickName.value.length < 2) {
                toastWarning('닉네임을 2자 이상 입력해주세요.');
                form.nickName.focus();
                return;
            }

            if (form.nickName.value.length > 10) {
                toastWarning('닉네임을 10자 이하 입력해주세요.');
                form.nickName.focus();
                return;
            }

            // email 이(가) 올바른지 체크
            form.email_v1.value = form.email_v1.value.trim();

            if (form.email_v1.value.length === 0) {
                form.email_v1.focus();
                toastWarning('이메일을 입력해주세요.');
                return;
            }

            if (isValidEmail(form.email_v1.value) === false) {
                toastWarning('이메일 형식으로 입력해주세요.');
                form.email_v1.focus();
                return;
            }

            if (form.email_v1.value.length > 30) {
                toastWarning('이메일 총길이가 30자 이하<br>입력해주세요.');
                form.email_v1.focus();
                return;
            }

            // Authentication Code 이(가) 올바른지 체크
            form.code.value = form.code.value.trim();

            if (form.code.value.length === 0) {
                form.code.focus();
                toastWarning('인증코드를 입력해주세요.');
                return;
            }

            // 비밀번호 != 비밀번호 재확인
            if (form.confirmPassword.value !== form.password.value) {
                form.confirmPassword.focus();
                toastWarning('비밀번호와 비밀번호 확인이 다릅니다.');
                return;
            }

            form.submit();
        }

        function isValidEmail(email) {
            const regex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
            return regex.test(email);
        }

        function sendAuthenticationCode() {
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            const inputElement = document.getElementById('email');
            const userEmail = document.querySelector('.userEmail').value;
            const sendCodeBtn = document.getElementById('send-code-btn');
            const sendCodeText = document.getElementById('send-code-text');

            $.ajax({
                type: "POST",
                url: "/api/sendCode",
                data: {"userEmail": userEmail},
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(header, token);
                },
                success: function (data) {
                    // email 수정 금지
                    document.getElementById('email').disabled = true;
                    inputElement.style.opacity = '0.5';
                    // Send Code 버튼 비활성화
                    sendCodeText.style.opacity = '0.5';
                    sendCodeBtn.disabled = true;
                    toastNotice('인증번호가 전송 되었습니다.');
                }, error: function (data) {
                    toastWarning('인증번호 전송에 실패했습니다.')
                }
            });
        }

        function emailCertification() {
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            let userEmail = document.getElementById('email').value;
            let inputCode = document.getElementById('id-inputCode');

            var button = document.getElementById('create-button');
            var text = document.getElementById('create-text');

            const certifyBtn = document.getElementById('certify-btn');
            const certifyText = document.getElementById('certify-text');

            $.ajax({
                type: "POST",
                url: "/api/certification",
                data: {"userEmail": userEmail, "inputCode": inputCode.value},
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(header, token);
                },
                dataType: "text",
                success: function (result) {
                    if (result === 'true') {
                        toastNotice('이메일 인증이 완료되었습니다.');
                        // Authentication code
                        inputCode.disabled = true;
                        inputCode.style.opacity = '0.5';
                        // Certify 버튼 비활성화
                        certifyText.style.opacity = '0.5';
                        certifyBtn.disabled = true;
                        //Create account 버튼 활성화
                        text.style.opacity = '1';
                        button.disabled = false;
                    } else {
                        toastWarning('인증코드가 일치하지 않습니다.');
                    }

                }
            });
        }

        function copyEmailValue() {
            document.getElementsByName('email')[0].value = document.getElementById('email').value;
        }
    </script>

    <div class="flex h-full justify-center items-center">
        <form th:action method="POST" onsubmit="copyEmailValue();JoinForm__submit(this); return false;">
            <div class="text-center font-bold text-4xl text-black">
                SIGN UP
            </div>
            <div class="flex justify-center">
                <div class="flex flex-col mt-5 items-start">
                    <div class="mb-1">아이디</div>
                    <div class="flex items-center space-x-4">
                        <input type="text" name="username" placeholder="아이디" autocomplete="off"
                               class="bg-black bg-opacity-10 h-10 p-4 w-96"/>
                    </div>
                </div>
            </div>

            <div class="flex justify-center">
                <div class="flex flex-col mt-5 items-start">
                    <div class="mb-1">비밀번호</div>
                    <div class="flex items-center space-x-4">
                        <input type="password" name="password" placeholder="비밀번호" autocomplete="off"
                               class="bg-black bg-opacity-10 h-10 p-4 w-96"/>
                    </div>
                </div>
            </div>

            <div class="flex justify-center mt-5">
                <div class="flex items-center space-x-4">
                    <div class="relative">
                        <input type="password" name="confirmPassword" placeholder="비밀번호 확인" autocomplete="off"
                               class="bg-black bg-opacity-10 h-10 p-4 w-96"/>
                    </div>
                </div>
            </div>

            <div class="flex justify-center">
                <div class="flex flex-col mt-5 items-start">
                    <div class="mb-1">이름</div>
                    <div class="flex items-center space-x-4">
                        <input type="text" name="name" placeholder="이름" autocomplete="off"
                               class="bg-black bg-opacity-10 h-10 p-4 w-96"/>
                    </div>
                </div>
            </div>

            <div class="flex justify-center">
                <div class="flex flex-col mt-5 items-start">
                    <div class="mb-1">닉네임</div>
                    <div class="flex items-center space-x-4">
                        <input id="id-input" type="text" name="nickName" placeholder="닉네임" autocomplete="off"
                               class="bg-black bg-opacity-10 h-10 p-4 w-96"/>
                    </div>
                </div>
            </div>

            <div class="flex justify-center">
                <div class="flex flex-col mt-5 items-start">
                    <div class="mb-1">E-mail</div>
                    <div class="flex items-center space-x-4">
                        <input type="text" name="email_v1" id="email" placeholder="E-mail" autocomplete="off"
                               class="userEmail bg-black bg-opacity-10 h-10 p-4 w-60"/>
                        <input type="hidden" name="email"/>
                        <button class="bg-black bg-opacity-10 h-10 p-4 w-32 ml-4 text-sm flex items-center justify-center hover:bg-opacity-30"
                                type="button" onclick="sendAuthenticationCode()" id="send-code-btn">
                            <span id="send-code-text" class="text-center">인증코드 발송</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="flex justify-center mt-5">
                <div class="flex items-center space-x-4">
                    <div class="relative flex">
                        <input id="id-inputCode" name="code" type="text" placeholder="인증코드"
                               autocomplete="off" class="bg-black bg-opacity-10 h-10 p-4 w-60"/>
                        <button class="bg-black bg-opacity-10 h-10 p-4 w-32 ml-4 text-sm flex items-center justify-center hover:bg-opacity-30"
                                id="certify-btn" type="button" onclick="emailCertification()">
                            <span id="certify-text" class="text-center">인증하기</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="flex justify-center">
                <button type="submit" id="create-button" disabled
                        class="bg-black bg-opacity-10 h-10 p-4 mt-5 text-sm flex items-center justify-center hover:bg-opacity-30 w-96">
                    <span id="create-text" class="text-center" style="opacity: 0.5;">회원가입</span>
                </button>
            </div>
        </form>
    </div>

</main>

</body>

</html>