<html layout:decorate="~{usr/layout/layout.html}">

<head>
    <title>내 정보</title>
</head>

<body>

<main layout:fragment="main">
    <div class="flex flex-col mx-auto max-w-7xl">
        <div class="flex flex-col gap-4">
            <div class="card bg-base-100 shadow-xl">
                <div class="card-body">
                    <div class="flex flex-wrap gap-4">
                        <h2 class="card-title">
                            <i class="fa-solid fa-user"></i>
                            내 정보
                        </h2>
                        <a class="btn btn-sm btn-warning" href="#">Edit</a>
                    </div>
                    <div class="flex flex-wrap gap-3 mt-4">
                        <div>
                            작성한 게시물 수
                            <div class="mt-2 text-center">
                                <span class="badge badge-primary" th:text="${@rq.member.freedomPosts.size()}"></span>
                            </div>
                        </div>
                        <div>
                            작성한 댓글 수
                            <div class="mt-2 text-center">
                                <span class="badge badge-primary" th:text="${@rq.member.freedomPostComments.size()}"></span>
                            </div>
                        </div>
                        <div>
                            팔로워
                            <div class="mt-2 text-center">
                                <span class="badge badge-primary" th:text="0"></span>
                            </div>
                        </div>
                        <div>
                            팔로우
                            <div class="mt-2 text-center">
                                <span class="badge badge-primary" th:text="0"></span>
                            </div>
                        </div>
                        <div>
                            업로드한 음원의 수
                            <div class="mt-2 text-center">
                                <span class="badge badge-primary" th:text="0"></span>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4">
                        프로필 이미지
                        <div class="mt-2">
                            <img src="/images/likelion.jpg" style="width: 300px; height: 200px;">
                        </div>
                    </div>

                    <div class="mt-4">
                        닉네임
                        <div class="mt-2">
                            <span class="badge badge-primary" th:text="${@rq.member.nickName}"></span>
                        </div>
                    </div>

                    <div class="mt-4">
                        이메일
                        <div class="mt-2">
                            <span class="badge badge-primary" th:text="${@rq.member.email}"></span>
                        </div>
                    </div>

                    <div class="mt-4">
                        가입날짜
                        <div class="mt-2">
                            <span class="badge badge-primary"
                                  th:text="${#temporals.format(@rq.member.createDate, 'yy.MM.dd')}"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

</body>

</html>