<html layout:decorate="~{usr/layout/layout.html}">

<head>
    <title>내 정보</title>

    <!-- tab CSS 불러오기 -->
    <link rel="stylesheet" href="/resource/common/tab.css">

</head>

<body>

<main layout:fragment="main">
    <div class="align-center mx-auto max-w-7xl w-full mt-5 h-40">
        <div class="gap-4 mb-5">
            <div class="card shadow-xl">
                <div class="card-body flex flex-row">
                    <div>
                        <img th:src="${@rq.member.profileImageUrl}" class="border border-gray-100"
                             style="width: 300px; height: 300px; border-radius: 50%;">
                    </div>
                    <div class="my-4 ml-10 flex flex-col flex-grow">
                        <div class="flex">
                            <span class="text-xl font-bold" th:text="${@rq.member.nickName}"></span>
                            <div class="dropdown dropdown-right ml-5">
                                <label tabindex="0" class="btn btn-neutral btn-xs gap-1"><i
                                        class="fa-solid fa-lock"></i>Edit</label>
                                <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
                                    <li><a href="/usr/member/myPage/modifyNickName"><i class="fa-solid fa-user-pen"></i>닉네임
                                        변경</a></li>
                                    <li th:if="${@rq.member.providerTypeCode == 'GROOVEO'}"><a
                                            href="/usr/member/myPage/modifyEmail"><i class="fa-solid fa-envelope"></i>이메일
                                        변경</a></li>
                                    <li th:if="${@rq.member.providerTypeCode == 'GROOVEO'}"><a
                                            href="/usr/member/myPage/modifyPassword"><i
                                            class="fa-solid fa-unlock-keyhole"></i>비밀번호 변경</a></li>
                                    <li><a href="/usr/member/myPage/modifyProfileImage"><i
                                            class="fa-regular fa-image"></i>프로필 이미지 변경</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="flex flex-grow justify-end items-end">
                            <section>
                                <span class="badge badge-neutral p-2 mr-3">ID</span>
                                <span class="mr-3" th:text="${@rq.member.username}"></span>
                            </section>
                            <span class="badge badge-neutral p-2 mr-3">이메일</span><span
                                class="mr-3" th:text="${@rq.member.email}"></span>
                            <span class="badge badge-neutral p-2 mr-3">가입날짜</span><span class="mr-3"
                                                                                        th:text="${#temporals.format(@rq.member.createDate, 'yy.MM.dd')}"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-grow">
            <div class="canvas-container" style="width: 100%">
                <canvas id="myCanvas" style="display: block"></canvas>
            </div>
        </div>
        <div class="flex">
            <div class="flex flex-col mx-5">
                <button onclick="follower_modal.showModal()" class="flex my-10"><span class="mr-3 w-32 font-bold">Follower</span><span
                        id="followerCount" th:text="${@rq.member.followingPeople.size()}"
                        class="badge badge-lg rounded-pill badge-neutral">0</span></button>
                <button onclick="follow_modal.showModal()" class="flex my-10"><span
                        class="mr-3 w-32 font-bold">Follow</span><span
                        id="followingCount" th:text="${@rq.member.followerPeople.size()}"
                        class="badge badge-lg rounded-pill badge-neutral">0</span></button>
                <button onclick="tracks_modal.showModal()" class="flex my-10"><span
                        class="mr-3 w-32 font-bold">Tracks</span><span
                        id="soundCount" th:text="${@rq.member.fileInfos.size()}"
                        class="badge badge-lg rounded-pill badge-neutral">0</span></button>
            </div>
            <div class="flex">
                <div class="canvas-container2" style="height: 100%">
                    <canvas id="myCanvas2" style="display: block"></canvas>
                </div>
            </div>
            <!-- tab menu -->
            <div class="flex flex-grow p-2">
                <div class="tabmenu-container w-full">
                    <div class="tabmenu out-tabmenu">
                        <ul>
                            <li id="tab1" class="btnCon">
                                <input type="radio" checked name="tabmenu" id="tabmenu1">
                                <label for="tabmenu1">업로드한 음원</label>
                                <div class="tabCon">
                                    <div layout:fragment="content" class="mt-4"></div>
                                </div>
                            </li>
                            <li id="tab2" class="btnCon">
                                <input type="radio" name="tabmenu" id="tabmenu2">
                                <label for="tabmenu2">작성 게시글</label>
                                <div class="tabCon">
                                    <div layout:fragment="content" class="mt-4"></div>
                                </div>
                            </li>
                            <li id="tab3" class="btnCon">
                                <input type="radio" name="tabmenu" id="tabmenu3">
                                <label for="tabmenu3">작성 댓글</label>
                                <div class="tabCon">
                                    <div layout:fragment="content" class="mt-4"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Follower Modal -->
    <dialog id="follower_modal" class="modal" onclose="refreshPage()">
        <form method="dialog" class="modal-box w-96">
            <div class="flex justify-between items-center">
                <h3 class="font-bold text-lg text-center flex-grow">Follower</h3>
                <button class="btn btn-xs">X</button>
            </div>
            <div class="flex flex-col items-center mt-4" style="max-height: 400px; overflow-y: auto;">
                <!-- 팔로워 리스트 시작 -->
                <div th:unless="${!#lists.isEmpty(@rq.member.getFollowingPeople())}" class="text-center">
                    <div class="mt-5"><i class="fa-regular fa-face-sad-tear"></i>아직 팔로워가 없습니다.</div>
                </div>

                <div th:if="${!#lists.isEmpty(@rq.member.getFollowingPeople())}" class="w-full max-w-xs"
                     th:each="follower : ${@rq.member.getFollowingPeople()}">
                    <div class="flex items-center space-x-4 mb-4">
                        <img th:src="${follower.follower.profileImageUrl}" alt="프로필 사진"
                             class="w-11 h-11 rounded-full border border-gray-100">
                        <div class="flex flex-col flex-grow w-full whitespace-nowrap overflow-x-hidden overflow-ellipsis">
                            <span class="text-base font-medium whitespace-nowrap overflow-x-hidden overflow-ellipsis"
                                  th:text="${follower.follower.nickName}"></span>
                            <span id="follower-username" th:text="${follower.follower.username}"
                                  class="text-xs text-gray-500 whitespace-nowrap overflow-x-hidden overflow-ellipsis"></span>
                        </div>
                        <button class="bg-black bg-opacity-10 h-10 p-4 w-16 text-sm flex items-center justify-center hover:bg-opacity-30"
                                type="button" th:data-username="${follower.follower.username}"
                                onclick="delete_follow(this)">
                            <span th:data-user-text="${follower.follower.username}" class="text-center">삭제</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </dialog>

    <!-- Follow Modal -->
    <dialog id="follow_modal" class="modal" onclose="refreshPage()">
        <form method="dialog" class="modal-box w-96">
            <div class="flex justify-between items-center">
                <h3 class="font-bold text-lg text-center flex-grow">Follow</h3>
                <button class="btn btn-xs">X</button>
            </div>
            <div class="flex flex-col items-center mt-4" style="max-height: 400px; overflow-y: auto;">
                <!-- 팔로잉 리스트 시작 -->
                <div th:unless="${!#lists.isEmpty(@rq.member.getFollowerPeople())}" class="text-center">
                    <div class="mt-5"><i class="fa-regular fa-face-sad-tear"></i>아직 팔로잉이 없습니다.</div>
                </div>

                <div th:if="${!#lists.isEmpty(@rq.member.getFollowerPeople())}" class="w-full max-w-xs"
                     th:each="following : ${@rq.member.getFollowerPeople()}">
                    <div class="flex items-center space-x-4 mb-4">
                        <img th:src="${following.following.profileImageUrl}" alt="프로필 사진"
                             class="w-11 h-11 rounded-full border border-gray-100">
                        <div class="flex flex-col flex-grow w-full whitespace-nowrap overflow-x-hidden overflow-ellipsis">
                            <span class="text-base font-medium whitespace-nowrap overflow-x-hidden overflow-ellipsis"
                                  th:text="${following.following.nickName}"></span>
                            <span id="follow-user" th:text="${following.following.username}"
                                  class="text-xs text-gray-500 whitespace-nowrap overflow-x-hidden overflow-ellipsis"></span>
                        </div>
                        <button class="bg-black bg-opacity-10 h-10 p-4 w-16 text-sm flex items-center justify-center hover:bg-opacity-30"
                                type="button" th:data-username="${following.following.username}"
                                onclick="delete_following(this)">
                            <span class="text-center">삭제</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </dialog>

    <!-- Tracks Modal -->
    <dialog id="tracks_modal" class="modal" onclose="refreshPage()">
        <form method="dialog" class="modal-box w-80" style="width: 450px">
            <div class="flex justify-between items-center">
                <h3 class="font-bold text-lg text-center flex-grow">Tracks</h3>
                <button class="btn btn-xs">X</button>
            </div>
            <div class="flex flex-col items-center mt-4" style="max-height: 400px; overflow-y: auto;">
                <!-- 트랙 리스트 시작 -->
                <div th:unless="${!#lists.isEmpty(@rq.member.getFileInfos())}" class="text-center">
                    <div class="mt-5"><i class="fa-regular fa-face-sad-tear"></i>아직 업로드 한 음원이 없습니다.</div>
                </div>

                <div th:if="${!#lists.isEmpty(@rq.member.fileInfos)}" class="w-full"
                     th:each="track : ${@rq.member.fileInfos}">
                    <div class="flex items-center mb-4">
                        <img th:src="${track.albumCoverUrl}" alt="커버 사진"
                             class="w-14 h-14 mr-2">
                        <section class="flex flex-col flex-wrap whitespace-nowrap">
                            <span th:text="${track.title}"></span>
                            <section>
                                <span class="text-xs mr-2"
                                      th:text="${#temporals.format(track.createDate, 'yyyy.MM.dd')}"></span>
                                <i class="fa-solid fa-heart text-xs" style="color: #e60f2f;"></i>
                                <span class="text-xs" th:text="${track.getSoundThumbsUpList().size()}">0</span>
                            </section>
                        </section>
                    </div>
                </div>
            </div>
        </form>
    </dialog>

    <script>
        function refreshPage() {
            location.reload();
        }

        const pathArray = window.location.pathname.split('/');
        const post = pathArray[pathArray.length - 1];
        switch (post) {
            case "post":
                $('#tabmenu2').prop('checked', true);
                break;
            case "comment":
                $('#tabmenu3').prop('checked', true);
                break;
        }

        const tBtn_1 = document.getElementById('tabmenu1');
        tBtn_1.addEventListener('click', () => {
            window.location.href = '/usr/member/myPage/library';
        });

        const tBtn_2 = document.getElementById('tabmenu2');
        tBtn_2.addEventListener('click', () => {
            window.location.href = '/usr/member/myPage/post';
        });

        const tBtn_3 = document.getElementById('tabmenu3');
        tBtn_3.addEventListener('click', () => {
            window.location.href = '/usr/member/myPage/comment';
        });

        const canvas = document.getElementById('myCanvas');
        const context = canvas.getContext('2d');
        const canvasContainer = document.querySelector('.canvas-container');

        canvas.width = canvasContainer.offsetWidth;
        canvas.height = 10;

        context.beginPath();
        context.moveTo(0, canvas.height / 2);
        context.lineTo(canvas.width, canvas.height / 2);
        context.stroke();

        const canvas2 = document.getElementById('myCanvas2');
        const context2 = canvas2.getContext('2d');
        const canvasContainer2 = document.querySelector('.canvas-container2');

        canvas2.width = 10;
        canvas2.height = canvasContainer2.offsetHeight;

        context2.beginPath();
        context2.moveTo(canvas2.width / 2, 0);
        context2.lineTo(canvas2.width / 2, canvas2.height);
        context2.stroke();

        // Delete Follower
        function delete_follow(button) {
            var username = button.getAttribute('data-username');
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            // 확인 메시지 표시
            if (confirm("정말로 삭제하시겠습니까?")) {
                // Ajax 요청 설정
                $.ajax({
                    type: "POST",
                    url: "/api/deleteFollower",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader(header, token);
                    },
                    data: {username: username},
                    success: function (result) {
                        // 삭제가 성공한 경우 버튼 비활성화 및 텍스트 변경
                        button.disabled = true;
                        button.querySelector('span').textContent = "삭제됨";
                        button.querySelector('span').style.opacity = '0.5';

                        // 팔로워수 업데이트
                        updateFollowerCount();
                    },
                    error: function (error) {
                        console.log("팔로우 취소 실패:", error);
                    }
                });
            }
        }

        <!-- Update Follow Count -->
        function updateFollowerCount() {
            $.ajax({
                type: "GET",
                url: "/api/updateFollowerCount",
                success: function (result) {
                    $("#followerCount").text(result);
                },
                error: function (error) {
                    console.log("팔로우 숫자 업데이트 실패:", error);
                }
            });
        }

        // Delete Following
        function delete_following(button) {
            var username = button.getAttribute('data-username');

            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            // 확인 메시지 표시
            if (confirm("정말로 삭제하시겠습니까?")) {
                // Ajax 요청 설정
                $.ajax({
                    type: "POST",
                    url: "/api/deleteFollowing",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader(header, token);
                    },
                    data: {username: username},
                    success: function (result) {
                        // 삭제가 성공한 경우 버튼 비활성화 및 텍스트 변경
                        button.disabled = true;
                        button.querySelector('span').textContent = "언팔로잉";
                        button.querySelector('span').style.opacity = '0.5';

                        // 팔로잉 숫자 업데이트
                        updateFollowingCount();
                    },
                    error: function (error) {
                    }
                });
            }
        }

        <!-- Update Following Count -->
        function updateFollowingCount() {
            $.ajax({
                type: "GET",
                url: "/api/updateFollowingCount",
                success: function (result) {
                    $("#followingCount").text(result);
                },
                error: function (error) {
                    console.log("팔로잉 숫자 업데이트 실패:", error);
                }
            });
        }
    </script>
</main>
</body>

</html>