<html layout:decorate="~{usr/layout/layout.html}">

<head>
    <title>내 정보</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<body>

<main layout:fragment="main">
    <div class="flex flex-col align-center mx-auto w-4/6 my-3">
        <div class="flex flex-col gap-4">
            <div class="card shadow-xl">
                <div class="card-body">
                    <div class="navbar gap-2">
                        <a class="btn btn-neutral normal-case text-xl" href="/usr/member/myPage/me">회원정보 보기</a>
                        <a class="btn btn-neutral normal-case text-xl" href="/usr/member/myPage/post">작성 게시물</a>
                        <a class="btn btn-neutral normal-case text-xl" href="/usr/member/myPage/comment">작성 댓글</a>
                        <a class="btn btn-neutral normal-case text-xl" href="/usr/member/myPage/library">업로드한 음원</a>
                    </div>
                </div>
            </div>
        </div>
        <th:block layout:fragment="content" class="mt-4"></th:block>
    </div>

</main>
</body>

</html>